<div class="container">
    <h1 class="header">Book Exchange Platform!!</h1>
    <p class="description">
      Discover, swap, and enjoy a wide variety of books from our community.
    </p>
    <div class="books-container">
      <div class="book">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="C:\Users\vwork\Downloads\img1.jpg"
                BookName "Little Women"<br>
AuthorName: Charles Dickens<br>
AvailabilityStatus: Available<br>
Condition: HardCover <br>
DateOfPublication :1982<br>
Genre :Comedy <br>
Publisher: Fingerprint <br>
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
      </div>
      <div class="book">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
      </div>
      <div class="book">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
      </div>
      